NET "clk" LOC = N9;
NET "h_rot_a" LOC = A8;
NET "h_rot_b" LOC = B8;
NET "v_rot_a" LOC = D13;
NET "v_rot_b" LOC = C13;
NET "si" LOC = A12;
NET "resetlcd" LOC = A10;
NET "cs" LOC = A9;
NET "a0" LOC = A11;
NET "sclk" LOC = B12;

NET "debugled<0>" LOC = D8;
NET "debugled<1>" LOC = A7;
NET "debugled<2>" LOC = D7;